#image {
    width: 50px;
    position: fixed;
    left: 0;
    top: 0;
}

/* *{border:1px saddlebrown solid} */

#gimg1 {
    width: 80px;
    position: absolute;
}

#fimg1 {
    width: 120px;
    position: absolute;
    margin-top: 36px;
}

.waikuan {
    width: auto;
    height: 20px;
    border: 1px rgb(255, 255, 255) solid;
}

.waikuan:hover {
    background-color: beige;
}

.zhongxian,
.xian {
    /* border-top: 3px solid black; */
    max-width: 80%;
    margin-top: 10px;
    background-color: rgb(65, 65, 65);
    height: 3px;
    box-shadow: 2px 2px 1px rgba(101, 101, 101, 0.264);
}

.zhongxian:hover,
.xian:hover {
    height: 5px;
}

.wxp4j {
    height: 20px;
    max-width: 80%;
}

.wxp4j:hover {
    background-color: beige;
}

.zhongxian {
    width: 80px;
    background-color: black;
    height: 3px;
    margin-left: 30%;

}

#fimg1,
#gimg1 {
    filter: drop-shadow(5px 9px 1px #3426266c);

}
